version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: Web_app_backend


  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: Web_app_frontend
    
    depends_on:
      - backend
