version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: Web_app_backend
    ports:
      - "5000:5000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
