.navbar-container{
    position: fixed;        
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;          
    color: #030303;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;             
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}