.query-form-container {     
  bottom: 0;            
  left: 0;
  left: 50%;
  transform: translateX(-20%);
  max-width: 700px;
  width: 100%;  
  padding: 12px 30px;

}

.query-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.query-bar-container {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 10px;
}

.query-bar-container > *:first-child {
  flex: 1;
}

.query-bar-container button {
  padding: 15px 30px;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

.query-bar-container button:hover {
  background: #4338ca;
}