.Query_Page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;     
    margin-top: 80px;
    overflow: hidden; 
}

.Response_Handler{
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start; 
    padding: 20px 0 120px 0; 
}

._Container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: auto; 
    gap: 20px; 
}

.Query_form{
    height: 110px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.Response_Container{
    width: 900px; 
    max-width: 95%;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: black;
}

.Response_Body {
    margin-top: 10px;
    white-space: pre-wrap;
}
