.Query_Page {
    display: flex;
    flex-direction: column; 
    width: 100%;
    min-height: 500px;      
    margin-top: 20px;       
    align-items: center;    
    justify-content: flex-start; 
}