.Query_Page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;      
    margin-top: 80px;
}

.Response_Handler{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.loader{
    border: 6px solid #eee;
    border-top: 6px solid #171718; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}