.Query_Page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;      
    margin-top: 80px;
}

.Response_Handler{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    padding-bottom: 110px;
}

.Query_form{
    height: 110px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    display: flex;
    justify-content: center;
    border: 6px solid #eee;
    border-top: 6px solid #171718; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}